PySide6>=6.10.2
python-telegram-bot>=22.6
PyInstaller>=6.19.0
pywin32>=311; platform_system == "Windows"
psutil>=7.2.2
Pillow>=12.1.1
PyAutoGUI>=0.9.54
PyAudio
opencv-python
pyperclip>=1.8.2
WMI>=1.5.1
winsdk==1.0.0b10
SpeechRecognition
soundfile
numpy